.clockContainer {
  position: fixed;
  bottom: 0px;

  width: 100%;

  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(15, 15, 15, 0.8) 100%);
  min-height: 90px;

  padding-top: 1em;

  display: flex;
  justify-content: flex-end;
}

.clock {
  opacity: 0.8;
  margin: 0;
  transform: scale(0.7);
  font-weight: 400;
}

@media (max-width: 1024px) {
  .clockContainer {
    display: none;
  }
}