.footer {
  background: var(--black-900);
  display: flex;
  flex-direction: column;

  padding: 2em 0em 2em 0em;
  text-align: center;
}

.copyright {
  margin-top: 0.5em;
  font-size: 0.875rem;
  color: var(--black-500);
  z-index: 9999;
}
