.project {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  position: sticky;
  top: 0px;

  gap: 4em;
}

.project:first-child {
  padding-top: 1em;
}

.project .content,
.project .background {
  flex: 1;
}

.projectContainer .mockups div {
  display: flex;
  flex-direction: column;
}

.projectContainer .background,
.projectContainer .mockups .mockup {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  flex: 1;
}

.projectContainer .mockups .mockup {
  min-height: 110vh;
}

/* .projectContainer .mockups .mockup {
  position: sticky;
  bottom: 0px;
} */

.projectContainer .background {
  background-attachment: fixed;
  filter: grayscale(100);
  opacity: 0.5;
  min-height: 158vh;
}

.project .content {
  margin: 0 auto;
}

.project .content .text {
  font-size: 0.875rem;
  position: sticky;
  top: 50px;

  text-align: left;
  color: var(--black-400);
}

.project .content p {
  margin-top: 1em;
}

.project:last-child {
  margin: 0em;
}

@media (max-width: 768px) {
  .project {
    display: flex;
    position: relative;
    flex-direction: column-reverse !important;
  }

  .project .content {
    min-width: 77vw !important;
  }
}