:root {
  --dark-blue-900: #002a4e;
  --dark-blue-800: #003a66;
  --dark-blue-700: #054473;
  --dark-blue-600: #134d7e;
  --dark-blue-500: #1c5586;
  --dark-blue-400: #476c95;
  --dark-blue-300: #6986a6;
  --dark-blue-200: #92a8bf;
  --dark-blue-100: #bdcad9;
  --dark-blue-50: #e5eaef;

  /* Primary slate */
  --slate-900: #020917;

  --slate-800: #313131;
  --slate-700: #4f4f4f;
  --slate-600: #626262;
  --slate-500: #898989;
  --slate-400: #aaaaaa;
  --slate-300: #cfcfcf;
  --slate-200: #e1e1e1;
  --slate-100: #e5ebfa;
  --slate-50: #f0f6ff;

  --background: #f0f6ff;
  --background-button: #f0f6ff;
  --color-button: #313131;
}

.dark-mode:root {
  --dark-blue-900: #002a4e;
  --dark-blue-800: #003a66;
  --dark-blue-700: #054473;
  --dark-blue-600: #134d7e;
  --dark-blue-500: #1c5586;
  --dark-blue-400: #476c95;
  --dark-blue-300: #6986a6;
  --dark-blue-200: #92a8bf;
  --dark-blue-100: #bdcad9;
  --dark-blue-50: #e5eaef;

  /* Primary slate */
  --slate-900: #020917;

  --slate-800: #313131;
  --slate-700: #4f4f4f;
  --slate-600: #626262;
  --slate-500: #898989;
  --slate-400: #aaaaaa;
  --slate-300: #cfcfcf;
  --slate-200: #e1e1e1;
  --slate-100: #e5ebfa;
  --slate-50: #f0f6ff;

  --background: #020917;
  --background-button: #020917;
  --color-button: #cfcfcf;
}

html,
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: var(--background);
}

html.dark-mode {
  color: var(--slate-300);
}

html {
  color: var(--slate-800);
  scroll-behavior: smooth;
  /* backdrop-filter: blur(5px); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button, a {
  cursor: pointer;
  transition: .3s ease-in-out;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0.75em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border-radius: .5vw;
  font-size: 1.175rem;
  transition: .3s;
  border: 0;

  background: var(--background-button);
  color: var(--color-button);
}

button:hover {
  filter: brightness(0.95);
}
