:root {
  /* Primary black */
  --black-900: #0F0F0F;

  --black-800: #2f2f2f;
  --black-700: #4d4d4d;
  --black-600: #606060;
  --black-500: #878787;
  --black-400: #a8a8a8;
  --black-300: #cdcdcd;
  --black-200: #e0e0e0;
  --black-100: #ededed;
  --black-50: #f7f7f7;

  --background: #0F0F0F;
}

html,
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

html {
  color: var(--black-300);
  scroll-behavior: smooth;
}

a {
  color: var(--black-600);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
a {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 1em 0.75em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 0.5vw;
  font-size: 1rem;
  transition: 0.3s;
  border: 0;

  background: var(--background-button);
  color: var(--color-button);
}

button:hover {
  filter: brightness(0.95);
}

h2, h3, h4, h5, h6, span, p {
  font-weight: 300;
}

strong {
  font-weight: 600;
}

.container {
  width: 100%;
  max-width: 77vw;
  margin: 0 auto;
}
