.container {
  width: 100%;
  max-width: 77vw;
  margin: 0 auto;
}

.hero {
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0F0F0F 94.58%), url("https://unsplash.com/photos/HONJP8DyiSM/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjU3MDczNzA1&force=true&w=1920");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100vh;
  
  padding-bottom: 8em;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  font-variant: small-caps;
  letter-spacing: 3px;
}

.hero h2 {
  font-size: 1rem;
  color: var(--black-300);
}

.about {
  padding-top: 5em;
  text-align: left;
}

.about p {
  padding-top: 2em;

  color: var(--black-500);
  max-width: 50%;
  margin: 0 auto;
}

.projects {
  text-align: center;
  margin-top: 5em;
  padding-top: 5em;
}

.network {
  text-align: center;
  margin-top: 5em;
}

.network a {
  margin-left: 8px;
}