.container {
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
}

.hello h1 {
  font-size: 2rem;
  font-weight: 600;
}

.hello h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.hello button {
  background: var(--indigo-500);
  border: 0;
  color: var(--slate-50);
  margin-top: 1em;
}

.avatar {
  margin: 0.5em 0;
}

.avatar img {
  border-radius: 50%;
}